$primary: #4b358b;
$secondary: #4a4a4a;
$vh: 90vh;
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    width: 100%;
    overflow-x: hidden;
    transition: 0.4s ease-in-out;
}

header {
    box-shadow: 0 7px 15px 0px #00000047;
    display: block;
    position: relative;
    z-index: 10;
    .nav-link {
        color: $secondary;
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.btn {
    border-radius: 26px;
    font-size: 15px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4b358bc2;
    border-color: #4b358bc2;
}

.hero-section {
    .left-container {
        background-image: url("../img/img1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: $vh;
        position: relative;
        transition: 0.7s ease-in-out;
        .slider-text {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 80%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .list-text {
            transition: 0.7s ease-in-out;
        }
        &::before {
            content: "";
            background: $primary;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            opacity: 0.6;
            right: 0;
        }

        p.left-text {
            font-size: 22px;
            font-weight: 600;
        }

        h2.heading-text.text-end {
            font-size: 60px;
            font-weight: bold;
            opacity: 0.7;
            transition: 0.7s ease-in-out;

        }

        p.right-text {
            font-size: 15px;
            font-weight: 600;
        }
    }
}

.right-list {
    background: #4b358bbd;
    height: $vh;

    ul {
        padding: 0px;
        margin: 0;
        list-style: none;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1px;

        .img-box {
            width: 100%;
            padding: 15px;
            font-size: 13px;
            font-weight: 600;
            border: 5px solid $primary;
            overflow: hidden;
            position: relative;
            background-position: center;
            background-size: cover;
            transition: 0.7s ease;
            background-repeat: no-repeat;
            cursor: pointer;

            &::before {
                content: "";
                transition: 0.7s ease;
                background: $primary;
                position: absolute;
                top: 0;
                bottom: 0;
                opacity: 1;
                left: 0;
                z-index: 1;
                right: 0;
            }
            .bg-img {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                bottom: 0;
                filter: blur(3px);
                left: 0;
                right: 0;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                background-position: center;
                background-size: cover;
                filter: blur(2px);
            }

            .box {
                position: relative;
                z-index: 1;
            }

            .text {
                position: absolute;
                z-index: 1;
                bottom: 20px;
                p {
                    transition: 0.7s ease-in-out;
                }
            }

            &:hover {
                &::before {
                    opacity: 0.5;
                }
            }
        }
    }
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.active {
    transition: 0.7s ease-in-out;
}
