*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  width: 100%;
  overflow-x: hidden;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header {
  -webkit-box-shadow: 0 7px 15px 0px #00000047;
          box-shadow: 0 7px 15px 0px #00000047;
  display: block;
  position: relative;
  z-index: 10;
}

header .nav-link {
  color: #4a4a4a;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #4b358b;
  border-color: #4b358b;
}

.btn {
  border-radius: 26px;
  font-size: 15px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4b358bc2;
  border-color: #4b358bc2;
}

.hero-section .left-container {
  background-image: url("../img/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.hero-section .left-container .slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-section .left-container .list-text {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.hero-section .left-container::before {
  content: "";
  background: #4b358b;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  right: 0;
}

.hero-section .left-container p.left-text {
  font-size: 22px;
  font-weight: 600;
}

.hero-section .left-container h2.heading-text.text-end {
  font-size: 60px;
  font-weight: bold;
  opacity: 0.7;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.hero-section .left-container p.right-text {
  font-size: 15px;
  font-weight: 600;
}

.right-list {
  background: #4b358bbd;
  height: 90vh;
}

.right-list ul {
  padding: 0px;
  margin: 0;
  list-style: none;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 1px;
}

.right-list ul .img-box {
  width: 100%;
  padding: 15px;
  font-size: 13px;
  font-weight: 600;
  border: 5px solid #4b358b;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  background-repeat: no-repeat;
  cursor: pointer;
}

.right-list ul .img-box::before {
  content: "";
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  background: #4b358b;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 1;
  left: 0;
  z-index: 1;
  right: 0;
}

.right-list ul .img-box .bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  left: 0;
  right: 0;
}

.right-list ul .img-box::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.right-list ul .img-box .box {
  position: relative;
  z-index: 1;
}

.right-list ul .img-box .text {
  position: absolute;
  z-index: 1;
  bottom: 20px;
}

.right-list ul .img-box .text p {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.right-list ul .img-box:hover::before {
  opacity: 0.5;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.active {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
/*# sourceMappingURL=style.css.map */